* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    border: 1px solid red;
    padding: 5%;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 2%;
    border-bottom: 1px solid hsl(220, 14%, 75%);
}

.container-header-nav-left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 2;
    column-gap: 5%;
    justify-content: flex-start;
}

.container-header-nav-left-img {
    display: flex;
    height: 35px;
}

.container-header-nav {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.container-header-nav-left-ol {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 5%;
    padding: 2%;
}

.container-header-nav-left-ol-li {
    display: flex;
    list-style: none;
    color: hsl(220, 14%, 75%);
    font-weight: 400;
    padding: 1%;
    font-size: calc(1.75rem - 0.5vw);
}

.container-header-nav-left-ol-li-a {
    text-decoration: none;
    color: none;
}

.container-header-nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap-reverse; */
    width: 15%;
}

.container-header-nav-right-img-cart {
    display: flex;
    height: 30px;
    margin-left: 10%;
}

.container-header-nav-right-img-pfp {
    display: flex;
    height: 50px;
}
